@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --breakpoint-xxs: 20rem;
    --breakpoint-xs: 30rem;
    --breakpoint-sm: 50rem;
    --color-background-light: hsl(0 0% 100%);
    --color-background-dark: hsl(0 0% 3.9%);
    --color-background-light-secondary: hsl(0 0% 100%);
    --color-light: hsl(0 0% 3.9%);
    --color-dark: hsl(0 0% 100%);
    --color-highlight-light: var(--color-emerald-600);
    --color-highlight-dark: hsl(41 97.4% 44.9%);
    --light-border: hsl(0 0% 87.8%);
    --dark-border: hsl(240 4% 16%);
    --color-emerald-green-custom: var(--color-emerald-600);
    --color-orange-custom: hsl(41.17, 97.38%, 44.9%);
}
/* 
@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--color-background-dark);
        --foreground: var(--color-background-light);
    }
} */

@media (prefers-color-scheme: dark) {
    .imgLight {
        display: none;
    }
    .imgDark {
        display: unset;
    }
}

body {
    font-family: 'Satoshi', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
}

@layer utilities {
    .emerald-green-filter {
        filter: brightness(0) saturate(100%) invert(32%) sepia(51%) saturate(3503%)
            hue-rotate(145deg) brightness(96%) contrast(101%);
    }

    .orange-color-filter {
        filter: brightness(0) saturate(100%) invert(62%) sepia(40%) saturate(3165%)
            hue-rotate(10deg) brightness(101%) contrast(98%);
    }

    .black-color-filter {
        filter: brightness(0) saturate(100%) invert(0%) sepia(39%) saturate(6308%) hue-rotate(28deg)
            brightness(104%) contrast(92%);
    }

    .icon-white-filter {
        filter: brightness(0) invert(1);
    }

    .emerald-green-text-color {
        color: var(--color-emerald-600);
    }

    .orange-text-color {
        color: #e29c03;
    }

    .about-image-float {
        float: left;
        shape-margin: 1rem;
        shape-outside: url('../public/assets/AboutMeHeadshot.webp');
    }
}
