@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --breakpoint-xxs: 20rem;
    --breakpoint-xs: 30rem;
    --breakpoint-sm: 50rem;
    --color-background-light: hsl(42, 38.46%, 94.9%);
    --color-background-dark: hsl(0, 0%, 4.31%);
    --color-background-light-secondary: hsl(42, 38.46%, 94.9%);
    --color-light: hsl(0 0% 4.31%);
    --color-dark: hsl(0 0% 100%);
    --color-burgundy: hsl(14, 82%, 30%);
    --color-highlight-light: hsl(14, 82%, 30%);
    --color-highlight-dark: hsl(41 97.4% 44.9%);
    --color-light-border: hsl(240, 4%, 16%);
    --color-dark-border: hsl(240, 4%, 16%);
    --color-forest-green-custom: hsl(158.28, 82.86%, 13.73%);
    --color-emerald-green-custom: var(--color-emerald-600);
    --color-orange-custom: hsl(41.17, 97.38%, 44.9%);
    --color-black-custom: hsl(0, 0%, 4.31%);
    --color-box-shadow-custom: 0 1px 2px rgba(0, 0, 0, 0.13), 0 0px 2px rgba(0, 0, 0, 0.08);
    --font-display: 'BonaNova', serif;
    --font-body: 'Satoshi', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
}

@layer utilities {
    .emerald-green-filter {
        filter: brightness(0) saturate(100%) invert(32%) sepia(51%) saturate(3503%)
            hue-rotate(145deg) brightness(96%) contrast(101%);
    }

    .forest-green-filter {
        filter: invert(18%) sepia(13%) saturate(3575%) hue-rotate(114deg) brightness(93%)
            contrast(95%);
    }

    .orange-color-filter {
        filter: brightness(0) saturate(100%) invert(62%) sepia(40%) saturate(3165%)
            hue-rotate(10deg) brightness(101%) contrast(98%);
    }

    .burgundy-color-filter {
        filter: invert(18%) sepia(34%) saturate(4555%) hue-rotate(357deg) brightness(91%)
            contrast(92%);
    }

    .white-color-filter {
        filter: brightness(0) invert(1);
    }

    .emerald-green-text-color {
        color: var(--color-emerald-600);
    }

    .box-shadow-custom {
        box-shadow: var(--color-box-shadow-custom);
    }

    .hero-text-h1 {
        font-size: clamp(2.8rem, 8vw + 1rem, 6rem);
        line-height: 1;
    }

    .hero-text-h2 {
        font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
    }
}
